@use '../variables.scss' as *;
.container {
   display: inline;
  @media screen and (min-width: 431px) {
   
  }

  @media screen and (min-width: 767px) {
    display: flex;
  }
}

.mainContent {
  margin-right:0px; /* Adjust according to the width of the sidebar */
  padding: 20px;
  flex-grow: 1;
  background-color: #fff;

  @media screen and (min-width: 431px) {
   
  }

  @media screen and (min-width: 767px) {
    margin-right: 320px;
  }
}



.CourseseHeading{
  display: flex;
  justify-content: center;
  align-items: center;

  .icon{
    color: $secondary-color;
    font-size: 55px;
    margin-right: 20px;
  }
  h5{
    color: $secondary-color;
    font-size: 50px;
    font-weight: 700;
  }
}








