@use '../variables.scss' as *;
.container{
    padding: 30px;
}

.card{
    margin-bottom: 30px;
    border: none;

    h5{
        background-color: $secondary-color;
        text-align: center;
        font-size: 16px;
        padding: 10px 5px;
        font-weight: 700;
        border-radius: 5px;
        color: $white-color;
    }
    a{
        background-color: $primary-color;
        border: 2px  solid $secondary-color;
        padding: 10px;


        &:hover{
            background-color: $secondary-color;
            border: 2px  solid $primary-color;
        }

        .icon{
            margin-right:8px;
            font-size: 20px;
        }
        span{
            font-size: 18px;
            font-weight: 600;
        }
       }
}





// import styles from '@/styles/pages/colorCodedQuran.module.scss'
// import Layout from '../components/headerAndFooter/Layout';
// import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
// import { faDownload } from '@fortawesome/free-solid-svg-icons';

// // Array of objects containing information about each chapter
// const chapters = [
//   { id: 1, name: 'COLOR CODED QURAN JUZ 1', link: '/chapter1', image: '/imges/Saudi-Formet.webp' },
//   { id: 2, name: 'COLOR CODED QURAN JUZ 2', link: '/chapter2', image: '/imges/Saudi-Formet.webp' },
//   { id: 3, name: 'COLOR CODED QURAN JUZ 3', link: '/chapter3', image: '/imges/Saudi-Formet.webp' },
//   { id: 4, name: 'COLOR CODED QURAN JUZ 4', link: '/chapter4', image: '/imges/Saudi-Formet.webp' },
//   { id: 5, name: 'COLOR CODED QURAN JUZ 5', link: '/chapter5', image: '/imges/Saudi-Formet.webp' },
//   { id: 6, name: 'COLOR CODED QURAN JUZ 6', link: '/chapter6', image: '/imges/Saudi-Formet.webp' },
//   { id: 7, name: 'COLOR CODED QURAN JUZ 7', link: '/chapter7', image: '/imges/Saudi-Formet.webp' },
//   { id: 8, name: 'COLOR CODED QURAN JUZ 8', link: '/chapter8', image: '/imges/Saudi-Formet.webp' },
//   { id: 9, name: 'COLOR CODED QURAN JUZ 9', link: '/chapter9', image: '/imges/Saudi-Formet.webp' },
//   { id: 10, name: 'COLOR CODED QURAN JUZ 10', link: '/chapter10', image: '/imges/Saudi-Formet.webp' },
//   { id: 11, name: 'COLOR CODED QURAN JUZ 11', link: '/chapter11', image: '/imges/Saudi-Formet.webp' },
//   { id: 12, name: 'COLOR CODED QURAN JUZ 12', link: '/chapter12', image: '/imges/Saudi-Formet.webp' },
//   { id: 13, name: 'COLOR CODED QURAN JUZ 13', link: '/chapter13', image: '/imges/Saudi-Formet.webp' },
//   { id: 14, name: 'COLOR CODED QURAN JUZ 14', link: '/chapter14', image: '/imges/Saudi-Formet.webp' },
//   { id: 15, name: 'COLOR CODED QURAN JUZ 15', link: '/chapter15', image: '/imges/Saudi-Formet.webp' },
//   { id: 16, name: 'COLOR CODED QURAN JUZ 16', link: '/chapter16', image: '/imges/Saudi-Formet.webp' },
//   { id: 17, name: 'COLOR CODED QURAN JUZ 17', link: '/chapter17', image: '/imges/Saudi-Formet.webp' },
//   { id: 18, name: 'COLOR CODED QURAN JUZ 18', link: '/chapter18', image: '/imges/Saudi-Formet.webp' },
//   { id: 19, name: 'COLOR CODED QURAN JUZ 19', link: '/chapter19', image: '/imges/Saudi-Formet.webp' },
//   { id: 20, name: 'COLOR CODED QURAN JUZ 20', link: '/chapter20', image: '/imges/Saudi-Formet.webp' },
//   { id: 21, name: 'COLOR CODED QURAN JUZ 21', link: '/chapter21', image: '/imges/Saudi-Formet.webp' },
//   { id: 22, name: 'COLOR CODED QURAN JUZ 22', link: '/chapter22', image: '/imges/Saudi-Formet.webp' },
//   { id: 23, name: 'COLOR CODED QURAN JUZ 23', link: '/chapter23', image: '/imges/Saudi-Formet.webp' },
//   { id: 24, name: 'COLOR CODED QURAN JUZ 24', link: '/chapter24', image: '/imges/Saudi-Formet.webp' },
//   { id: 25, name: 'COLOR CODED QURAN JUZ 25', link: '/chapter25', image: '/imges/Saudi-Formet.webp' },
//   { id: 26, name: 'COLOR CODED QURAN JUZ 26', link: '/chapter26', image: '/imges/Saudi-Formet.webp' },
//   { id: 27, name: 'COLOR CODED QURAN JUZ 27', link: '/chapter27', image: '/imges/Saudi-Formet.webp' },
//   { id: 28, name: 'COLOR CODED QURAN JUZ 28', link: '/chapter28', image: '/imges/Saudi-Formet.webp' },
//   { id: 29, name: 'COLOR CODED QURAN JUZ 29', link: '/chapter29', image: '/imges/Saudi-Formet.webp' },
//   { id: 30, name: 'COLOR CODED QURAN JUZ 30', link: '/chapter30', image: '/imges/Saudi-Formet.webp' }
// ];

// const ColorCodedQuran = () => (
//   <Layout>
//     <div className={`container-fluid ${styles.container}`}>
//       <h1 className="mt-5 mb-4">Color Coded Quran Page</h1>
//       <div className="row">
//         {chapters.map(chapter => (
//           <div className="col-lg-2 col-md-4 col-sm-6 col-12 mb-4" key={chapter.id}>
//             <div className="card">
//               <div className="card-body">
//                 <h5 className="card-title">
//                   {chapter.name} <a href={chapter.link}><FontAwesomeIcon icon={faDownload} className="ml-2" /></a>
//                 </h5>
//               </div>
//               <img src={chapter.image} className="card-img-top" alt={`Juzz ${chapter.id}`} />
//             </div>
//           </div>
//         ))}
//       </div>
//     </div>
//   </Layout>
// );

// export default ColorCodedQuran;