@use '../variables.scss' as *;
.container {
   display: inline;
  @media screen and (min-width: 431px) {
   
  }

  @media screen and (min-width: 767px) {
    display: flex;
  }
}

.mainContent {
  margin-right:0px; /* Adjust according to the width of the sidebar */
  padding: 20px;
  flex-grow: 1;
  background-color: #fff;

  @media screen and (min-width: 431px) {
   
  }

  @media screen and (min-width: 767px) {
    margin-right: 320px;
  }
}



.CourseseHeading{
  display: flex;
  justify-content: center;
  align-items: center;

  .icon{
    color: $secondary-color;
    font-size: 55px;
    margin-right: 20px;
  }
  h5{
    color: $secondary-color;
    font-size: 50px;
    font-weight: 700;
  }
}

.reason{
    border: 1px  solid $background-color;
    border-radius: 6px;
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: $white-color;
    h2{
      font-size: 30px;
      font-family: $lexend-font-family;
      color: $secondary-color;
    }
    h5{
      font-size: 22px;
      font-family: $lexend-font-family;
      color: $primary-color;
    }
}
.metter{
   border: 1px  solid $background-color;
    padding: 30px 20px;
    border-radius: 6px;
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: $background-color;
    h2{
      font-size: 30px;
      font-family: $lexend-font-family;
      color: $secondary-color;
    }
    h5{
      font-size: 22px;
      font-family: $lexend-font-family;
      color: $primary-color;
    }
}
.classes{
   border: 1px  solid $background-color;
    padding: 30px 20px;
    padding: 30px 20px;
    border-radius: 6px;
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: $white-color;
    h2{
      font-size: 30px;
      font-family: $lexend-font-family;
      color: $secondary-color;
    }
    h5{
      font-size: 22px;
      font-family: $lexend-font-family;
      color: $primary-color;
    }
}
.journey{
  border: 1px  solid $background-color;
    padding: 30px 20px;
    border-radius: 6px;
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: $secondary-color;
    h2{
      font-size: 30px;
      font-family: $lexend-font-family;
      color: $white-color;
    }
    h5{
      font-size: 22px;
      font-family: $lexend-font-family;
      color: $white-color;
    }
    p{
      color: $white-color;
    }
}






