@import '../../variables.scss';


.card {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
    
    @media (min-width: 900px) {
     height: 360px;
  }
     @media (min-width: 1440px) {
     height: 390px;
  }
  @media (min-width: 1500px) {
    height: 370px;
 }
}
  
  .rating {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: justify !important;
    color: $secondary-color !important;
  }
  
  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .image {
    width: 70px !important;
    height: 100px !important;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .name {
    font-size: 14px;
    color:$primary-color !important;
  }
  
  @media (min-width: 768px) {
    .imageContainer {
      flex-direction: row;
    }
  
    .image {
      margin-bottom: 0;
      margin-right: 20px;
    }
  
    .info {
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
    }
  
    .title {
      font-size: 20px;
    }
  
    .name {
      font-size: 16px;
    }
  }
  