@import '../variables.scss';

.mainCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .subCard{
        border: none; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0px 5px;
        margin-top: 30px;
        @media screen and (min-width: 500px) {
            padding: 0px 20px;
        }
      
        @media screen and (min-width: 767px) {
            padding: 0px 70px;
        }

        .smallHeading{
            position: absolute;
            top: -15px;
            background-color: $primary-color;
            padding: 2px 12px;
            small{
                font-size: 14px;
                font-weight: 700;
                color: $white-color;
                @media screen and (min-width: 500px) {
                 font-size: 17px;
                }
              
                @media screen and (min-width: 767px) {
                    font-size: 17px;
                }
            }
        }
        .mainHeading{
            margin-top: 25px;
            color: $secondary-color;
            h2{
                text-align: center;
            }
        }
        .detail{
            justify-content: space-around;

            span{
                color: $secondary-color;
                font-size: 13px;
                font-weight: bold;
                @media screen and (min-width: 500px) {
                    font-size: 15px;
                   }
            }
            .firstImage{
                width: 20px !important;
                height: 20px !important;
                border-radius: 50%;
                margin: 0px 7px;
            }
            .secondImage{
                width: 20px !important;
                height: 20px !important;
                margin-left: 10px;
            }
        }
        .description{
            p{
                text-align: center;
            }
        }

    }
}