@import '../variables.scss';

.firstRow{

     margin-top: 0px;
    @media screen and (min-width:431px) {
        font-size: 10px;
    }
    @media screen and (min-width:767px) {
       margin-top: 30px;
    }
    .icon{
       font-size: 20px;
       color: $primary-color;
       @media screen and (min-width:431px) {
        font-size: 30px;
    }
    @media screen and (min-width:767px) {
        font-size: 25px;
    }
    }
    .heading{
       color: $primary-color;
       font-size: 25px;
       font-weight: 700;
    //    margin-left: 20px;
       margin: -20px 0px -20px 20px;
       @media screen and (min-width:431px) {
        font-size: 30px;
    }
    @media screen and (min-width:767px) {
        font-size: 35px;
    }
    }
}
.secondRow{
    margin-top:30px;
    margin-bottom: 0px; 
    @media screen and (min-width:431px) {
      
    }
    @media screen and (min-width:767px) {
        margin-top:80px;
        margin-bottom: 40px; 
    }


    .link{
        color: $primary-color;
        text-decoration: none;
    }

    .card_body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
      

        

        .cardIcon{
            position:relative;
            top: -60px;
            left: 0;
            display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        position: relative;
         background-color: $secondary-color;
         width: 6.25rem;
    height: 5.875rem;
    @media screen and (min-width:431px) {
         
    }
    @media screen and (min-width:767px) {
        width: 6.25rem;
    height: 6.875rem;
    }
            .icon{
                font-size: 40px;
                color: $white-color;
            }
        }
        .title{
          margin-top: -50px;
          font-size: 23px;
        }
    }
   
}
.card{
    margin-top: 40px;
    @media screen and (min-width:431px) {
           
    }
    @media screen and (min-width:767px) {
     margin-top: 0px;
    }
}