@import '../variables.scss';

.heading{
    display: flex;
    justify-content: center;
    align-items: center;

    .icon{
      color: $secondary-color;
      font-size: 55px;
      margin-right: 20px;
    }
    h5{
      color: $secondary-color;
      font-size: 33px;
      @media screen and (min-width:608px) {
        font-size: 40px;
       }
       @media screen and (min-width:767px) {
        font-size: 40px;
       }
    }
}